.scrollComponent{
    display: flex;
    justify-content: center;
}

.createPostConatainer{
    display: flex;
    height: 10svh;
    width: 70%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    position: relative;
    align-items: center;
    background: rgba(231, 155, 148, 0.95);
    border-radius: 25px;

}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.uploadButton{
    position: absolute;
    right: 10px;
    bottom: 2px;
    background:  rgb(83, 119, 235);
    border-radius: 40px;
    color: white;
    padding-inline: 0.2rem;
    padding-block: .01rem;
    cursor: pointer;

}

.userProfile{
    border-radius: 100%;
    height: 60%;
    width: fit-content;
    object-fit: cover;
}

.singleCard_profileContainer .userProfile{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.createPostConatainer > textarea{
    width: 100%;
}

.Fab{
    background: rgb(83, 119, 235);
    border-radius: 100%;
    justify-content: center;
    display: flex;
}

.Fab > svg{
    width: fit-content;
    height: 30px;
    color: white;
}

.textarea{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;


}


.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(159, 111, 119);
}

.singleCard_profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCard_profileContainer > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.singleCard_image{
    width: 100%;
    padding-top:0.6rem ;
    height: fit-content;
    overflow: hidden;
}

.singleCard_image > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.optionsContainer{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    padding-block: 0.6rem;

}

.singleOption_optionsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;

}
.singleOption_optionsContainer > svg{
    height: 100%;
    width: 9%;
    min-width:  1.5rem;
    align-items: center;
   

} 

.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgb(0, 0,0,0.7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}


.allCommentsContainer{
    width: 40vw;
    height: 80vh;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
}

.postCommentContainer{
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

}

.postCommentContainer > input{
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
     outline: none;
    border: none;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}

.postCommentContainer >input:focus{
    border: 1px solid silver;
}



.postCommentContainer_commentBtn{
    flex: 0.1;
    width: fit-content;
    padding: 1.2rem;
    background: rgb(87, 87, 233);
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .allCommentsContainer{
        width: 90svw;
    }

}